<div class="container">
  <img
    src="assets\ONT-Digital-Prescriber-Orders-Form-(smartpaper-MPGL).png"
    class="background-image"
    alt="no image to show"
  />
  <div class="canvas-section">
    <canvas #canvas> </canvas>
  </div>
</div>

<div class="info-section">
  <h2>Info section:</h2>
  <div class="starting-point-box" *ngIf="getStartPoint()">
    <h5>1.Starting Points:</h5>
    <p>X-Axis: {{ getStartPoint()?.x | number : "1.0-0" }} unit</p>
    <p>Y-Axis: {{ getStartPoint()?.y | number : "1.0-0" }} unit</p>
  </div>
  <div class="dimensions-box" *ngIf="currentHeight && currentWidth">
    <h5>2.Shape:</h5>
    <p>Height: {{ currentHeight | number : "1.0-0" }} unit</p>
    <p>Width: {{ currentWidth | number : "1.0-0" }} unit</p>
    <p>
      <span><h5>3.Area is:</h5></span>
      {{ currentHeight * currentWidth | number : "1.0-0" }} unit
    </p>
  </div>
  <div>
    <div>
      <h5>4.Draw Shape Manually:</h5>
      <div class="input-container">
        <label for="startingX">Starting X: </label>
        <input
          class="Input-field"
          type="number"
          id="startingX"
          value=""
          placeholder="Enter you point:"
          [(ngModel)]="startingX"
        />
      </div>
      <div>
        <label for="startingY">Starting Y: </label>
        <input
          class="Input-field"
          type="number"
          id="startingY"
          value=""
          placeholder="Enter your point:"
          [(ngModel)]="startingY"
        />
      </div>
      <div>
        <label for="rectangleWidth">Width: </label>
        <input
          class="Input-field"
          type="number"
          id="rectangleWidth"
          value=""
          placeholder="Enter your point:"
          [(ngModel)]="rectangleWidth"
        />
      </div>
      <div>
        <label for="rectangleHeight">Height: </label>
        <input
          class="Input-field"
          type="number"
          id="rectangleHeight"
          value=""
          placeholder="Enter your point:"
          [(ngModel)]="rectangleHeight"
        />
      </div>
      <button class="button-click" (click)="drawUserRectangle()">
        Draw Shape
      </button> 
      
      <h5>5. Erase all the shapes:</h5>
      <button class="click-erase" (click)="deleteAllRectangles()">
        Clear Shape
      </button>
    </div>
  </div>
</div>
